section.master-navigation
	div.row
		a(href="index.html").logo-wrap.col-sm-3.col-6
			img(src="images/logo/bch.svg" alt="").logo-wrap_images
		nav.col-sm-9.col-6.navigation-container
			button.navigation-burger
				span.navigation-burger__item
				span.navigation-burger__item
				span.navigation-burger__item
			ul.navigation-list
				//- button.exit-burger
				li.navigation-list__items
					a(href="about.html") O nas
				li.navigation-list__items
					a(href="cooperation.html") Obsługa firm
				li.navigation-list__items.under-menu(tabindex="0") Oferta
					span.navigation-list__arrow
					div.under-menu__box
						ul.under-menu__wrap
							li.under-menu__items
								a(href="offer.html") Sprzedaż
							li.under-menu__items
								a(href="offer.html") Dachy
							li.under-menu__items
								a(href="offer.html") Wykończenia
							li.under-menu__items
								a(href="offer.html") Murastwo
				li.navigation-list__items
					a(href="blog.html") Blog
				li.navigation-list__items
					a(href="contakt.html") Kontakt